<div class="card col-sm mb-2 ms-1 me-1 p-0", id=<%= dom_id(ai_waifu) %> style="height: 200px;">
  <%= image_tag ai_waifu.image, class: "img-fluid rounded" %>
  <div class="card-body p-1 d-flex justify-content-center">
  </div>
</div>