<div class="text-center">
  <% @ai_waifus.each_slice(3) do |ai_waifus| %>
    <div class="row d-flex justify-content-center">
        <% ai_waifus.each do |ai_waifu| %>
          <%= render 'shared/card', ai_waifu: ai_waifu %>
        <% end %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".like-button").forEach((e) => {
    e.addEventListener("click", () => {
      e.lastElementChild.innerHTML =  parseInt(e.lastElementChild.innerHTML) + 1
      e.classList.add("disabled")
      e.firstElementChild.classList.remove("bi-heart");
      e.firstElementChild.classList.add("bi-heart-fill");
    })
  })

  document.querySelectorAll(".download-button").forEach((e) => {
    e.addEventListener("click", () => {
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", `/ai_waifus/${e.id}/download`);
        xhttp.send();
        e.lastElementChild.innerHTML =  parseInt(e.lastElementChild.innerHTML) + 1
    })
  })

}, { once: true });
</script>