<button class="btn p-0 btn-lg position-sticky top-50 start-100 translate-middle-y sidebar-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
  <i class="bi bi-arrow-bar-left"></i>
</button>

<div class="offcanvas offcanvas-end bg-light" style="width:25%" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
  <div class="offcanvas-body d-flex align-items-center", style="overflow:visible;">
    <div class="nav-item dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-sort-up">Sort</i>
        </a>
        <ul class="dropdown-menu bg-light">
            <li><a class="dropdown-item" href=<%= root_path(:filtered_by => "recent_upload") %>>Recent Upload</a></li>
            <li><a class="dropdown-item" href=<%= root_path(:filtered_by => "old_upload") %>>Old Upload</a></li>
            <li><a class="dropdown-item" href=<%= root_path(:filtered_by => "most_likes") %>>Most Likes</a></li>
            <li><a class="dropdown-item" href=<%= root_path(:filtered_by => "least_likes") %>>Least Likes</a></li>
        </ul>
    </div>
  </div>
</div>
