<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between fixed-navbar transparent">
  <a class="navbar-brand text-white" href="/">Home</a>
  <div class="search-bar">
  </div>
  <div class="authentication d-flex">
    <ul class="navbar-nav d-flex flex-row justify-content-around w-75">
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/sign_in">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/users/sign_up">Signup</a>
      </li>
    </ul>
  </div>
</nav>