<form class="d-flex justify-content-center" role="search">
    <input class="form-control me-2" style="width: 80%" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
